body{
    /* background-color: #f0e9e9; */
    background-color: #d2fdff;
}
h1 {
    border: 2px #eee;
    color: #edf5e1;
    text-align: center;
    padding:20px;
    background-color:#05386B;
    box-shadow: rgb(38, 57, 77) 50px 15px 25px -10px;
    font-family: 'Josefin Sans';
    left: 0px;
    right: 0px;
    border-radius: 10px;
    /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(75, 205, 245) 0px 0px 20px, rgb(75, 205, 245) 0px 0px 30px, rgb(75, 205, 245) 0px 0px 40px, rgb(75, 205, 245) 0px 0px 50px, rgb(75, 205, 245) 0px 0px 75px; */
}
h3{
    left: 15%;
    right: 15%;
    text-align: center;
    top: 30%;
    position: absolute;
    color: black;
    font-family: 'Josefin Sans';
    font-weight: bold;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(75, 205, 245) 0px 0px 20px, rgb(75, 205, 245) 0px 0px 30px, rgb(75, 205, 245) 0px 0px 40px, rgb(75, 205, 245) 0px 0px 50px, rgb(75, 205, 245) 0px 0px 75px;
}
p {
    position: absolute;
    color: black;
    top: 50%;
    left:35%;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px; 
    padding-bottom: 60px;
    background-color:#05386B;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius:10px;
}
.submit:hover{
    background-color:#edf5e1;
}
