<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style1.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <title>VIP - The Assistant</title>
</head>
<body>
   <h1>SCENE NARRATOR - THE ASSISTANT</h1>
   <h3> We aim at building a deep learning architecture that generates descriptions of images and reads out these descriptions for blind people. To create a description about Image, upload that image here...</h3>
    <form action="{{url_for('results')}}", method = "POST" enctype="multipart/form-data">
        <p >
            <input type="file" id="file" name="file" required="True">
            <br>
            <input class="submit" style="margin-left: 80%; margin-top: 10%" type="submit">
        </p>
    </form>
</body>
</html>